@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Italic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Poppins-regular" ;
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: 500;

}
body{
    background-color: #E5E5E5;
    font-family: "Poppins";
}
:root{
    --maincColar:#9C9C42;
    --colarsecondarytext: #FFFFFF;
    --colarText: #262626;
    --colorditail: #999898;
    --hovercolor: #9c7242;
}

.button{
    background-color: transparent;
    text-align: center;
    color: var(--maincColar);
    border: 1px solid var(--maincColar);
    border-radius: 5px;
    cursor: pointer;
}



.shop-form__input::placeholder{
    color: var(--colorditail);
    font-size: 2rem;
}



.poster{
    width: 100%;
    height: 600px;
    background-image: url(../poster/poster.jpg) ;
    background-repeat:no-repeat;
    background-size:cover; 
     display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 35px;

}

.poster_content{
margin-left: 55px;
display: flex;
flex-direction: column;
gap: 25px;
}
.poster_text--strong{
    font-weight: bold;
    font-size: 3rem ;
    color: var(--colarsecondarytext);
}

.poster_text--strong:hover{ 
color: transparent;
        transition: 1s;
        letter-spacing: 10px;
        -webkit-text-stroke: 1px var(--colarText) ;
   
}
.poster_text{
    font-size: 1rem ;
    color: var(--colarsecondarytext);
}

.poster_button{
padding: 25px 13px;
color: var(--colarsecondarytext);
background-color: transparent;
border: 1px solid var(--colarsecondarytext);
margin-left: 55px;
cursor: pointer;
text-decoration: none;
}
.poster_button:hover{
    transition: 0.5s;
background-color: var(--colorditail);
        border-radius: 10%;
}
.colection-product{
    margin-right: auto;
    margin-left: auto;
    max-width: 80vw;
    height: 100%;
    margin-top: 100px;
}

.colection-product__listshopbox{
    display: grid;
    grid-template-columns:repeat(4,18vw);
    justify-content: space-between;
   margin-top: 60px;
    align-items: center;
}
.colection-product__bigtext{
    animation: change_colar;
    animation-timeline:view();
    font-size: 2.8rem;
}
.colection-product__bigtext>span{
    animation: change_colar-revers;
    animation-timeline:view();
  color: var(--maincColar);
}
.shopbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; 
}
.colection-product__shopbox{
   max-width:300px;
    height: 428px;
    background-color: var(--colarsecondarytext);
    border-radius: 2%;
    box-shadow: 0px 0px 7px var(--colorditail);
    position: relative; 
}
.colection-product__shopbox::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
    background: linear-gradient(90deg, #ffffff00, #ffffff00, #2ff384);
    background-size: 390% 120%;
    background-position: 0% 0%;
   animation: var(--border-anim, none); 
  z-index: -1;
  animation-direction:alternate-reverse;
  animation-iteration-count: 1;
  border-radius: 12px;
}


.colection-product__shopbox>div{
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colection-product__img{
    width: 95px;
    height: 200px;
}
.colection-product__name{
    font-style: italic;
    font-weight: 200;
}
.colection-product__price{
    font-size: 2rem;
    color: var(--maincColar);
}

.colection-product__button{
    position: relative;
padding:12px 25px 12px 64px;
font-size: 1.2rem;
text-decoration: none;
}
.colection-product__button:hover{
    transition: 2s;
    border-color: var(--hovercolor);
    color: var(--colarText);
}
.colection-product__button::after{
    content: '';
    background-image: url(../shoper-colection/shoper.jpg);
    background-repeat: round;
    width: 23px;
    height: 26px;
    position: absolute;
    left:15%;
    top: 15%;
}
.colection-product__button--vraper{
    max-width:240px;
    height: 50px;
    position: relative;
   margin-right: auto;
   margin-left: auto;
   margin-top:40px ;
}
.colection-product__button--vraper>svg{
    position: absolute;
    right: 10%;
    top: 30%;
    
}
.colection-product__button--vraper:hover svg{
transition: 0.5s;
right: 5%;
}

.colection-product__shoperbutton{
    background-color: var(--maincColar);
    color: var(--colarsecondarytext);
    font-size: 1.2rem;
    padding: 12px 56px 12px 29px;
}

.colection-product__shoperbutton:hover{
    transition: 1s;
   background-color: var(--hovercolor);
}
.article-poste{
    margin-top: 100px;
    background-image: url(../article/poster.jpg);
    background-repeat:no-repeat;
    background-size:cover; 
    max-width: 100%;
    height: 481px;
    display: flex;
    align-items: center;
}

.article-poste__content{
    width: 35%;
    margin-top: 5%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:50px ;
}
.article-poste__bigtext{
    animation: change_colar;
    animation-timeline:view();
    font-size: 3rem;
}
.article-poste__bigtext>b{
    animation: change_colar-revers;
    animation-timeline:view();
    color: var(--maincColar);
}
.article-poste__text{
    font-size: 16px;
    font-family: Poppins-regular;
}
.article-poste__button{
    background-color: var(--maincColar);
    color: var(--colarsecondarytext);
    padding: 12px 27px;
}
.article-poste__button:hover{
    transition: 1s;
    background-color: var(--hovercolor);
}

.blog-blok{
    background-color: var(--colarsecondarytext);
    margin-top: 100px;
    max-width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    color: var(--colarText);
}
.titel{
    display: flex;
    gap: 13px;
    align-items:flex-end;
}
.blog-blok__titel{
    height: 40px;
    margin: 44px 0 44px 13%;
}
.blog-blok__titel>svg{
height: 15px;
}
.titel-big{
    font-size:3rem ;
}
.blog-blok__titel-smal{
    color: var(--maincColar);
}
.container-sqrtshop{
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    transition: 1s;
}
.blog-blok__container{
margin-bottom: 100px;
}
.shop-itm{
    transition: 1s;
    position: relative;
    height: 386px;
    width: 23%;
}

.blog-blok__itm:hover{
    transition: 1s;
scale: 1.05;
}
.blog-blok__itm::after{
content: ' ';
background-color: var(--maincColar);
width: 50px;
height: 50px;
display: block;
position: absolute;
clip-path: circle(99% at 100% 100%);
top: 45.5%;
right: 0%;
}

.blog-blok__itm::before{
    z-index: 1;
    content: ' ';
    background-color: var(--colarsecondarytext);
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    clip-path: polygon(89% 34%, 78% 15%, 85% 15%, 100% 40%, 85% 65%, 77% 65%, 89% 44%, 39% 45%, 39% 35%, 65% 34%);    top: 45.5%;
    RIGHT: 1%;
    top: 47%;
    }
    
.blog-blok__itm>div{
    width: 75%;
    margin-top: 20px ;
    display: flex;
    gap: 22%;
    position: relative;
} 
.blog-blok__itm>div>svg{
    position: absolute;
    right: 40%;
    top: -10%;
} 

.blog-blok__vie{
    position: relative;
}
.blog-blok__vie::after{
content: " ";
background-color: var(--maincColar);
display: block;
width: 5px;
height: 5px;
border-radius: 100%;
position: absolute;
left: 110%;
top: 25%;
}
.img-shop{
    width: 100%;
    height: 225px;
}
.blog-blok__bigtext{
    
    margin: 18px 0px 5px 0px;
    font-size: 1.2rem;
}
.blog-blok_text{
    line-height: 20px;
    font-size: 16px;
    font-family: Poppins-regular;
}
.Recipes-block{
    color: var(--colarText);
    max-width: 100%;
    height: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.Recipes-block__logo{
    height: 40px;
    margin: 44px 0 44px 12%;
}
.Recipes-block__text{
    color: var(--maincColar);
}
.Recipes-block__logo>svg{
    cursor: pointer;
    height:15px ;
}
.Recipes-block__box{

    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
height: 386px;
width: clamp(320px,23%,24.7%) ;
}
.Recipes-block__box:hover{
    transition: 1s;
    scale: 1.05;
}
.Recipes-block__box::after{
    position: absolute;
    content: '';
    color: var(--colarsecondarytext);
    font-size: 16px;
    padding: 6px 10px;
    width: auto;
    background-color: #9C9C42;
    border-top-right-radius: 1%;
    border-bottom-right-radius:15% ;
}
#r1::after{content: 'Breakfast';}
#r2::after{content: 'Salads';}
#r3::after{content: 'Main Dishes';}

.foter{
    margin-top: 100px;
    background-color: var(--maincColar);
    width: auto;
    max-height: 1000px;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap:wrap;
    padding: 60PX ;
}

.footer__navigation{
    color: var(--colarsecondarytext);
    max-width: 180px;
    height: 155px;
    display: flex;
    gap: 10px;
    flex-direction: column;
 }   
.fotert__title{
    font-weight: bold;
    margin-bottom: 10px;
}
.foter__text{
    text-decoration: none;
    color: var(--colarsecondarytext);
}
.foter__text:hover{
    transition: 0.5s;
    color: var(--hovercolor);
}
@keyframes borderFlow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes change_colar {
    0%{
        color:var(--colarText);
    }
    100%{
        color: var(--maincColar);
    }
}
@keyframes change_colar-revers {
    0%{
        color:var(--maincColar);
    }
    100%{
        color: var(--colarText);
    }
}
@keyframes activeshopbox {
    0%{
        transform: scale(1.2) rotateZ(-20deg);
    }
    25%{
        transform:scale(1.2) rotateZ(20deg);
    }
    50%{
        transform:scale(1.2) rotateZ(-20deg);
    }
    75%{
        transform:scale(1.2) rotateZ(20deg);
    }
    100%{
        transform:scale(1.2) rotateZ(0deg);
    }
}

@keyframes activeshopbox_phone {
    0%{
        transform: scale(1.05) rotateZ(-6deg);
    }
    25%{
        transform:scale(1.05) rotateZ(6deg);
    }
    50%{
        transform:scale(1.05) rotateZ(-6deg);
    }
    75%{
        transform:scale(1.05) rotateZ(6deg);
    }
    100%{
        transform:scale(1.05) rotateZ(-6deg);
    }
}


@media only screen and (max-width: 1550px) {
    .blog-blok__itm{
        position: relative;
        height: 386px;
        width: 320px;
    }
    .header-navigation_search-itm{
        justify-self: center;
    }
     .colection-product__listshopbox{
            grid-template-columns:repeat(2,30vw);
            grid-template-rows: 428px 428px;
            justify-content: center;
            row-gap: 50px;
        }
        .colection-product__listshopbox>.colection-product__shopbox:nth-child(2n+2){
            justify-self: end;
            width: 300px;
        }
        .blog-blok__itm>div>svg{

            right: 47%;
        } 


}
@media only screen and (max-width: 1260px) {
    
    .header-navigation{
        grid-template-columns:14vw 56vw ;
    }
    .header-navigation_search-itm{
        grid-template-columns:49px 49px 110px ;
       grid-column: 2;
       justify-self: end;
    }
    .header-navigation_linkpanel{
        justify-self: end;
    }
    .header-navigation_button{
        justify-self: end;
    }
    .header-navigation_search-itm::after{

        left: 20%;
      }
      .header-navigation_iconitm:last-of-type{
        justify-self: center;
        }
        .colection-product__listshopbox{
            grid-template-columns:repeat(2,37vw);
            grid-template-rows: 428px 428px;
            justify-content: space-around;
            row-gap: 50px;
        }
      
       
}
@media only screen and (max-width: 800px) {
    
    .header-navigation{
        grid-template-columns:14vw 56vw ;
        grid-template-rows:50px 100px ;
    }
    .header-navigation_search-itm{
        grid-template-columns:49px 49px 110px ;
        grid-row: 1;
       grid-column: 2;
       justify-self: end;
    }
    .header-navigation_linkpanel{
        grid-column: 2;
        grid-row: 2;
        justify-self:end;
    }
  .header-navigation_list{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-navigation_logo{
    width: 180px;
    height: 180px;
}
.colection-product__listshopbox{
    justify-content: space-between;
}
.article-poste{
    justify-content: center;
}
.article-poste__content{
    width: 60%;
    gap: 30px;
}

.colection-product__listshopbox>.colection-product__shopbox:nth-child(2n+2){
    justify-self: normal;
    max-width: 100%;
    height: 428px;
        }      

}
@media only screen and (max-width: 650px) 
{
    .colection-product__listshopbox{
        grid-template-columns: auto;
        grid-template-rows:repeat(4,428px);
        justify-content: center;
    }

}
@media only screen and (max-width: 550px) {
    
    .header-navigation{
        grid-template-columns:40vw 40vw;
        grid-template-rows:280px 130px  ;
        row-gap: 20px;
    }
    .header-navigation_search-itm{
        grid-template-columns:50px 50px ;
        grid-template-rows: 50px 100px;
        grid-row: 2;
       grid-column: 2;
       justify-self: start;
    }
    .header-navigation_linkpanel{
        grid-column: 1;
        grid-row:2;
        justify-self:center;
    }
  .header-navigation_list{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-navigation_logo{
    grid-column: 1/2;
    width:clamp(200px, 80vw, 80vw);
    height: clamp(300px, 55vw, 65vw);
}
.header-navigation_button-wraper{
    grid-column:1/3;
}
.header-navigation_search-itm::after{
    top: 10%;
    left: 46%;
  }
  .header-navigation{
    max-width:80vw;
    max-height:450px;
  }
  .poster{
    align-items: center;
}
.poster_content{
    margin-left: 25px;
    }
    .poster_button{
        margin-left: 0;
    }
    .colection-product__listshopbox{
        justify-content: center;
        grid-template-columns: 260px;
    }
    .header-navigation__serch{
        top: 40%;
        right: -60%;
    }
}

@media only screen and (max-width: 410px) {
 .header-navigation__serch{
    padding: 5px;
    width: 200px;
        top: 40%;
        right: -20%;
    }
.foter{justify-content:flex-start; }
}
