@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Italic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Poppins-regular" ;
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: 500;

}
body{
    font-family: Poppins;
    background-color: #2e5c42a1;
}
main{
    display: grid;
    grid-template-columns: 76% 24%;
    grid-template-rows:110px 100% ;
}
:root{
    --maincColar:#9C9C42;
    --colarsecondarytext: #FFFFFF;
    --colarText: #262626;
    --colorditail: #999898;
    --hovercolor: #9c7242;
}
.header-navigation{
    background-color: var(--colarsecondarytext);
    width:80vw;
    max-height:210px;
    display: grid;
    grid-template-columns:14vw 34vw 30vw ;
    grid-template-rows: 100px;
    grid-column: 1/2;
    margin-left: 40px;
    /* justify-items: flex-start; */
}
.header-navigation_logo{
    width: 210px;
    height: 210px;
}
.header-navigation_linkpanel{
    align-self: center;
}
.header-navigation_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   width: 34vw;
    height: 24px;

}
.header-navigation_linkitm>a{
    text-decoration: none;
    color: var(--colarText);
    transition: 0.8s;
}

.header-navigation_linkitm>a:hover{
 color: var(--hovercolor);
 font-size: 1.2rem;
}
.header-navigation_linkitm>a:visited{
    color: var(--maincColar);
}
.header-navigation_search-itm{
    justify-self: end;
    grid-template-columns:3vw 3vw 9vw ;
    display: grid;
    align-items: center;
    position: relative;
    margin: 5px 0 5px 0;
}
.header-navigation_iconitm{
    width: 29px;
    height: 29px;
}
.button{
    background-color: transparent;
    text-align: center;
    color: var(--maincColar);
    border: 1px solid var(--maincColar);
    border-radius: 5px;
    cursor: pointer;
}

.header-navigation_button-wraper{
    display: flex;
    justify-content: center;
}

.header-navigation_button{
    display: block;
    transition: 1s;
    width: 110px;
    height: 45px;
justify-self: end;
}
.header-navigation_user-logo{
   display: none;
   width: 110px;
   height: 45px;
   flex-direction: column;
   align-items: center;
}
.header-navigation_user-img{
    width: 30px;
    height: 30px;
}
.header-navigation__serch{
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: var(--colarsecondarytext);
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    max-height: 300px;
    gap: 5px;
    top: 105%;
     display: none;
     overflow-y: scroll;
     scrollbar-color: var(--colarsecondarytext) var(--colarsecondarytext);
}
.header-navigation__serch-input{
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;

}
.header-navigation__buy-button{
    align-self: center;
    font-size: 1.5rem;
    display: none;
}
.header-navigation__big-text{
    align-items: center;
    font-size: 1.5rem;

}
.header-navigation__close-element{
    transform: rotateZ(45deg);
    position: absolute;
    bottom:85%;
    left: 85%;
    font-size: 2rem;
    display: none;
}
.header-navigation_wraper-serch{
    top: 0;
    position: fixed;
    width: 98.9vw;
    height: 3000px;
    z-index: -1;
}
.header-navigation__count-element{
    position: absolute;
    bottom:90%;
    right: 65%;
    font-size: 0.8rem;
    display: none;
}
.header-navigation__shopbox{
    width:160px;
    height: 200px;
    background-color: var(--colarsecondarytext);
    border-radius: 2%;
    box-shadow: 0px 0px 7px var(--colorditail);
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; 
    position: relative;
}
.header-navigation__img{
    width: 60px;
    height: 100px;
}
.header-navigation__shopbox>div{
 display: flex;
  flex-direction: column;
    align-items: center;
}
.header-navigation__text{
    margin: 4px 0 4px 0;
    font-size: 0.6rem;
}
.header-navigation__name{
    font-style: italic;
    font-weight: 200;
}

.header-navigation_button:hover{
    text-align: center;
    border-color: #999898;
    scale: 1.05;
}
.header-navigation__button{
    position: relative;
padding:6px 10px 10px 34px;
font-size: 0.6rem;
text-decoration: none;
}
.header-navigation__button:hover{
    transition: 2s;
    border-color: var(--hovercolor);
    color: var(--colarText);
}
.header-navigation__button::after{
    content: '';
    background-image: url(../shoper-colection/shoper.jpg);
    background-repeat: round;
    width: 13px;
    height: 16px;
    position: absolute;
    left:15%;
    top: 15%;
}
.header-navigation__input{
    background-color: var(--colarText);
    border: 1px solid var(--maincColar);
    width: 90%;
    border-radius: 5px;
    padding: 5px;
    color: var(--colarsecondarytext);
    font-size: 0.8rem;
}

.shop-form__input::placeholder{
    color: var(--colorditail);
    font-size: 2rem;
}

.header-navigation_search-itm::after{
    content: ' ';
    width: 1px;
    height: 34px;
    display: block;
    position: absolute;
    background-color: var(--colorditail);
    left: 20%;
  }
.header-navigation_iconitm:last-of-type{
justify-self: end;
}
.shop-form{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;
    color: var(--colarsecondarytext);
}
.shop-form__slider{
    user-select: none;
    margin-top: 200px;
    width: auto;
    height: 300px;
position: relative;
transform-style: preserve-3d;
transform: rotateX(7deg) rotateY(0);
display: flex;
align-items: center;
justify-content: center;
}
.shop-form__text{
    text-align: center;
}
.shop-form__slider-item{
opacity: 0;
position: absolute;
display: flex;
flex-direction: column;
font-size: 1.2rem;
justify-content: center;
align-items: center;
gap: 20px;
background-color: var(--colarsecondarytext);
visibility: visible;
 animation: slide 24s infinite;
animation-timing-function: ease-out;
height: 450px;
color: var(--colarText);
align-items: center;
}

.shop-form__img{
    width: 18.75vw;
    height:400px;
}
.shop-form__slider>.shop-form__slider-item:nth-of-type(1){
     animation-delay: -3s; 

}
 .shop-form__slider>.shop-form__slider-item:nth-of-type(2){
     animation-delay: 0s; 
 
}
.shop-form__slider>.shop-form__slider-item:nth-of-type(3){
     animation-delay: 3s; 

}
.shop-form__slider>.shop-form__slider-item:nth-of-type(4){
    animation-delay: 6s;
}
.shop-form__slider>.shop-form__slider-item:nth-of-type(5){
    animation-delay: 9s;
}
.shop-form__slider>.shop-form__slider-item:nth-of-type(6){
    animation-delay: 12s;
}
.shop-form__slider>.shop-form__slider-item:nth-of-type(7){
    animation-delay: 15s;
}
.shop-form__slider>.shop-form__slider-item:nth-of-type(8){
    animation-delay: -6s;
} 

.shop-form__itm-form{
    margin-top: 90px;
    margin-bottom: 200px;
    max-width:55vw;
    padding: 30px;
    max-height: 500px;
    display: grid;
    gap: 20px;
    grid-template-columns: 25vw 25vw;
    grid-template-rows: 80px 80px 60px;
    border: 0.5px solid var(--maincColar);
    border-radius: 1%;
}
.shop-form__input-text{
    background-color: var(--colarText);
    border: 1px solid var(--maincColar);
    border-radius: 5px;
    padding: 20px;
    color: var(--colarsecondarytext);
    font-size: 2rem;
}
.shop-form__input-text::placeholder{
    color: var(--colorditail);
    font-size: 2rem;
}
.shop-form__button{
    width: 200px;
    background-color: var(--maincColar);
    border: 1px solid var(--colorditail);
    color: var(--colarsecondarytext);
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    grid-column: 1/3;
    justify-self: center;
}
.shop-basket{
    grid-row: 2/4;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: end;
    background-color: var(--colorditail);
    overflow: hidden;
}
.shopbox{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; 
    position: relative;
}
.colection-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-color: var(--colorditail)var(--colorditail);
    height: 635px;
}
.colection-product__count-element{
    position: absolute;
    bottom:90%;
    right: 50%;
    font-size: 0.8rem;
    display: block;
    width: 80px;
}
.colection-product__nothing{
    color: var(--colarsecondarytext);
    font-size: 2.3vw;
    display: none;
    margin-top: 150px;

}
.colection-product__close-element{
        transform: rotateZ(45deg);
    position: absolute;
    bottom:85%;
    left: 85%;
    font-size: 2rem;
    display: block;
}
.colection-product__shopbox{
    margin-bottom: 10px;
    width:170px;
    height: 300px;
    background-color: var(--colarsecondarytext);
    border-radius: 2%;
    box-shadow: 0px 0px 7px var(--colorditail);
}
.colection-product__shopbox>div{
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colection-product__img{
    width: 95px;
    height: 200px;
}
.colection-product__text{
text-align: center;
}
.colection-product__name{
    font-style: italic;
    font-weight: 200;
}
.colection-product__price{
    font-size: 2rem;
    color: var(--maincColar);
}

.colection-product__button{
    position: relative;
padding:12px 25px 12px 64px;
font-size: 1.2rem;
}
.total-price{
    margin-top: 100px;
    width: 100%;
    height: 300px;
    padding: 50px;
    border-top: 10px solid var(--maincColar);
    text-align: center;
}
.total-price__item{
    font-size: 2rem;
    color: var(--colarsecondarytext);
}

@keyframes slide{
    0%{
     opacity: 0;
     transform: translate3d(13vw,0,-180px) rotateY(-70deg) scale(0.4);
    }
    3%,12.5%{
        visibility: visible;
        opacity: 0.7;
        transform: translate3d(13vw,0,-180px) rotateY(-70deg) scale(0.8);
    }
    15.5%,25%{
        opacity:1;
        transform: translate3d(0,0,0) rotateY(0) scale(1);
    }
    28%,31%{
        opacity: 0.7;
        transform: translate3d(-13vw,0,-180px) rotateY(70deg) scale(0.8);
    }
   44%{
       opacity: 0;
       transform: translate3d(-13vw,0,-180px) rotateY(70deg)scale(0.8);
    }
    100%{
        visibility: hidden;
        opacity: 0;
        transform:  scale(0.8);
    }
}

@keyframes slide-laptop{
    0%{
     opacity: 0;
     transform: translate3d(140px,0,-180px) rotateY(-70deg) scale(0.4);
    }
    3%,12.5%{
        visibility: visible;
        opacity: 0.7;
        transform: translate3d(140px,0,-180px) rotateY(-70deg) scale(0.8);
    }
    15.5%,25%{
        opacity:1;
        transform: translate3d(0,0,0) rotateY(0) scale(1);
    }
    28%,31%{
        opacity: 0.7;
        transform: translate3d(-140px,0,-180px) rotateY(70deg) scale(0.8);
    }
   44%{
       opacity: 0;
       transform: translate3d(-140px,0,-180px) rotateY(70deg)scale(0.8);
    }
    100%{
        visibility: hidden;
        opacity: 0;
        transform: scale(0.8);
    }
}
@keyframes slide-telephone{
    0%{
     opacity: 0;
     transform: translate3d(90px,0,-180px) rotateY(-70deg) scale(0.4);
    }
    3%,12.5%{
        visibility: visible;
        opacity: 0.7;
        transform: translate3d(90px,0,-180px) rotateY(-70deg) scale(0.8);
    }
    15.5%,25%{
        opacity:1;
        transform: translate3d(0,0,0) rotateY(0) scale(1);
    }
    28%,31%{
        opacity: 0.7;
        transform: translate3d(-90px,0,-180px) rotateY(70deg) scale(0.8);
    }
   44%{
       opacity: 0;
       transform: translate3d(-90px,0,-180px) rotateY(70deg)scale(0.8);
    }
    100%{
        visibility: hidden;
        opacity: 0;
        transform:  scale(0.8);
    }
}

@media only screen and (max-width: 1550px) {

    .header-navigation_search-itm{
        justify-self: center;
    }

}
@media only screen and (max-width: 1300px){

    .shop-form__img{
        width: 300px;
        height:300px;
    }
    .shop-form__slider-item{
        font-size: 0.8rem;
         animation: slide-laptop 24s infinite;
        }
        .shop-form__itm-form{
            margin-top: 150px;
        }
}



@media only screen and (max-width: 1260px) {
         .shop-form{
        margin-bottom: 40px;
    }
        .shop-form__slider-item{
        height:250px;
     }
    .shop-form__img{
        width: 150px;
        height:150px;
    }
    .header-navigation{
        grid-template-columns:14vw 56vw ;
    }
    .header-navigation_search-itm{
        grid-template-columns:49px 49px 110px ;
       grid-column: 2;
       justify-self: end;
    }
    .header-navigation_linkpanel{
        justify-self: end;
    }
    .header-navigation_button{
        justify-self: end;
    }
    .header-navigation_search-itm::after{

        left: 20%;
      }
      .header-navigation_iconitm:last-of-type{
        justify-self: center;
      }
   .shop-form__input-text{
        font-size: 1.2rem;
    }
    .shop-form__input-text::placeholder{
        font-size: 1.2rem;
    }
      
    main{
        grid-template-rows:160px 60% 40%;
    }
}
@media only screen and (max-width: 800px) {
    .colection-product__nothing{
    font-size: 10vw;
    margin-top: 300px;


}
    .shop-form__slider{
        margin-bottom: 150px;
    }
    .shop-form__itm-form{
        margin-top: 0px;
    }
    .header-navigation{
        grid-template-columns:14vw 56vw ;
        grid-template-rows:50px 100px ;
    }
    .header-navigation_search-itm{
        grid-template-columns:49px 49px 110px ;
        grid-row: 1;
       grid-column: 2;
       justify-self: end;
    }
    .header-navigation_linkpanel{
        grid-column: 2;
        grid-row: 2;
        justify-self:end;
    }
  .header-navigation_list{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-navigation_logo{
    width: 180px;
    height: 180px;
}  

.shop-form__itm-form{
    grid-template-columns: 50vw;
    grid-template-rows: 80px 80px 80px  80px  60px;
    margin-bottom: 10px;

}
.shop-form__button{
    width: 45vw;
    grid-column: 1;
}


.colection-product__button{
    position: relative;
padding:12px 25px 12px 64px;
font-size: 1.2rem;
}
.shop-basket{
    grid-row: 3;
    align-content: start;
    overflow: hidden;
    padding-top: 10px;
}
main{
    grid-template-columns: 100%;
    grid-template-rows:160px 900px 850px;
}
}
@media only screen and (max-width: 550px) {
    
    .header-navigation{
        grid-template-columns:40vw 38vw;
        grid-template-rows:280px 130px  ;
        row-gap: 20px;
    }
    main{
        grid-template-rows:440px 900px 850px;
    }
    .header-navigation_search-itm{
        grid-template-columns:50px 50px ;
        grid-template-rows: 50px 100px;
        grid-row: 2;
       grid-column: 2;
       justify-self: start;
    }
    .header-navigation_linkpanel{
        grid-column: 1;
        grid-row:2;
        justify-self:center;
    }
  .header-navigation_list{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-navigation_logo{
    grid-column: 1/2;
    width:clamp(200px, 80vw, 80vw);
    height: clamp(300px, 55vw, 65vw);
}
.header-navigation_button{
    grid-column: 2;
    justify-self: end;
    align-self: flex-start;
}
.header-navigation_search-itm::after{
    top: 10%;
    left: 46%;
  }
  .header-navigation{
    max-width:80vw;
    max-height:450px;
    margin-bottom: 10px;
  }
  .poster{
    align-items: center;
}

}
@media only screen and (max-width: 360px){
    .shop-form__img{
        width: 100px;
        height:100px;
    }
    .shop-form__slider-item{
        animation: slide-telephone 24s infinite;
       }
       .shop-form__itm-form{
        margin-top: 25px;
    }
  
}